@using System.Diagnostics
@model Shodypati.Models.AppoinmentCreate

@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    var doctorid = 0;
    if (Model?.DoctorDetails?.FullName != null)
    {
        doctorid = @Model.DoctorDetails.Id;
        <h1> <small>Doctor Name: </small><strong>@Model.DoctorDetails.FullName</strong></h1>


        <div class="row">
            <div class="col-md-8">
                <div id='calendar'></div>
            </div>
            <div class="col-md-4">
                <div class="portlet-body">
                    <div class="mt-element-list">
                        <div class="mt-list-head list-news font-white bg-blue">
                            <div class="list-head-title-container">
                                <span class="badge badge-primary pull-right">3</span>
                                <h3 class="list-title">Doctor Information</h3>
                            </div>
                        </div>
                        <div class="mt-list-container list-news">
                            <ul>
                                <li class="mt-list-item">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                    <div class="list-datetime bold uppercase font-green"> Full Name </div>
                                    <div class="list-item-content">
                                        <h3 class="uppercase">
                                            <a href="javascript:;">@Model.DoctorDetails.FullName</a>
                                        </h3>

                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                    <div class="list-datetime bold uppercase font-green"> Clinic/Hospital Name </div>
                                    <div class="list-item-content">
                                        <h3 class="uppercase">
                                            <a href="javascript:;">@Model.DoctorDetails.ClinicHospitalName</a>
                                        </h3>
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                    <div class="list-datetime bold uppercase font-green"> Designation </div>
                                    <div class="list-item-content">
                                        <h3 class="uppercase">
                                            <a href="javascript:;">@Model.DoctorDetails.Designation</a>
                                        </h3>
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                    <div class="list-datetime bold uppercase font-green"> Specalist </div>
                                    <div class="list-item-content">
                                        <h3 class="uppercase">
                                            <a href="javascript:;">@Model.DoctorDetails.WorkingTypeName</a>
                                        </h3>
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                    <div class="list-datetime bold uppercase font-green"> Visiting Days </div>
                                    <div class="list-item-content">
                                        <h3 class="uppercase">
                                            <a href="javascript:;">@Model.DoctorDetails.CanVisitDays</a>
                                        </h3>

                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                    <div class="list-datetime bold uppercase font-green"> Visit Time </div>
                                    <div class="list-item-content">
                                        <h3 class="uppercase">
                                            <a href="javascript:;">@Model.DoctorDetails.VisitTimeStart to @Model.DoctorDetails.VisitTimeEnd</a>
                                        </h3>
                                    </div>
                                </li>
                            
                                <li class="mt-list-item">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                    <div class="list-datetime bold uppercase font-green"> Visit Fee </div>
                                    <div class="list-item-content">
                                        <h3 class="uppercase">
                                            <a href="javascript:;">@Model.DoctorDetails.VisitFee</a>
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="row">
            <div class="col-md-12 page-404">
                <div class="number font-green"> 404 </div>
                <div class="details">
                    <h3>Oops! You're lost.</h3>
                    <p> We can not find the page you're looking for.
                        <br/>
                        <a href="index.html"> Return home </a> or try the search bar below. </p>
                    <form action="#">
                        <div class="input-group input-medium">
                            <input type="text" class="form-control" placeholder="keyword...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn green">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
    }
}



<script>
    $('#my-today-button').click(function () {
        $('#calendar').fullCalendar('today');
    });
</script>

<div class="modal fade" id="basic" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Patient Information</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">

                    @Html.HiddenFor(model => model.DoctorDetails.Id, new { @id = "assigndoctorid" })
                    @Html.HiddenFor(model => model.DoctorDetails.FullName, new { @id = "doctorfullName" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewAppointment.PatientName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NewAppointment.PatientName, new { htmlAttributes = new { id = "PatientName", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewAppointment.PatientName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewAppointment.Address, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NewAppointment.Address, new { htmlAttributes = new { id = "Address", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewAppointment.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewAppointment.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NewAppointment.PhoneNumber, new { htmlAttributes = new { id = "PhoneNumber", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewAppointment.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DoctorDetails.VisitFee, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DoctorDetails.VisitFee, new { htmlAttributes = new { @readonly = "readonly", id = "VisitFee", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DoctorDetails.VisitFee, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewAppointment.AdvanceAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NewAppointment.AdvanceAmount, new { htmlAttributes = new { id = "AdvanceAmount", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewAppointment.AdvanceAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewAppointment.RemainingAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NewAppointment.RemainingAmount, new { htmlAttributes = new { @readonly = "readonly", id = "RemainingAmount", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewAppointment.RemainingAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green btn-outline" data-dismiss="modal">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<script>
    $('#AdvanceAmount').on('input', function (e) {
        var visitFee = $("#VisitFee").val();
        var advanceAmount = $("#AdvanceAmount").val();
        var remainingAmount = visitFee - advanceAmount;
        $("#RemainingAmount").val(remainingAmount);
    });
</script>
<script>

    $(document).ready(function ()
    {
        if (@doctorid > 0)
        {

            var startTime, endtime;

            $('#basic').on('hidden.bs.modal',
                function () {

                    var assigndoctorid = $("#assigndoctorid").val();
                    if (assigndoctorid) {
                        //field
                        var patientName = $("#PatientName").val();
                        $("#PatientName").val("");
                        var address = $("#Address").val();
                        $("#Address").val("");

                        var phoneNumber = $("#PhoneNumber").val();
                        $("#PhoneNumber").val("");

                        var advanceAmount = $("#AdvanceAmount").val();
                        $("#AdvanceAmount").val("");


                        var doctorfullName = $("#doctorfullName").val();
                        //jquery post
                        // patientName,  startTime,  endtime,  address,  phoneNumber,  advanceAmount,  assigndoctorid,  doctorfullName
                        var url = "/Appointments/Create?patientName=" + patientName + "&startTime=" + startTime + "&endtime=" + endtime
                            + "&address=" + address + "&phoneNumber=" + phoneNumber + "&advanceAmount=" + advanceAmount
                            + "&assigndoctorid=" + assigndoctorid + "&doctorfullName=" + doctorfullName;

                        $.ajax({
                            url: url,
                            type: "post",
                            
                            success: function (response) {
                                var title = patientName;

                                if (phoneNumber)
                                    title = title + " [" + phoneNumber + "]";

                                if (address)
                                    title = title + " [" + address + "]";

                                var eventData;
                                if (title) {
                                    eventData =
                                        {
                                            title: title,
                                            start: startTime,
                                            end: endtime
                                        };
                                    $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                                }
                                $('#calendar').fullCalendar('unselect');
                            },
                            error: function (jqXhr, textStatus, errorThrown) {
                                console.log(textStatus, errorThrown);
                            }
                        });
                    }
                });

            var chartVal = [];
                $.ajax({
                    url: "/Appointments/GetDoctorAppoinmentLists?doctorId=" + @doctorid ,
                    type: "get",
                    async: false,
                    success: function (result) {
                        var obj = jQuery.parseJSON(result);
                        var length = obj.length;
                        for (var i = 0; i < length; i++)
                        {
                            chartVal.push({
                                title: obj[i].PatientName + " [" + obj[i].Address + "][ " + obj[i].PhoneNumber+"]",
                                start: obj[i].StartTime,
                                end: obj[i].EndTime
                            });
                        }
                    },
                    error: function () {

                    }
                });

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title'

                    },

                    hiddenDays: [@Model.DoctorDetails.HiddenDays], //sunday, tuesday,thursday
                    minTime: "@Model.DoctorDetails.VisitTimeStart",
                    maxTime: "@Model.DoctorDetails.VisitTimeEnd",
                    
                    slotDuration: '00:@Model.DoctorDetails.SlotDuration:00',
                    defaultView: 'agendaDay',
                    allDaySlot: false,
                    displayEventTime: true,
                    displayEventEnd: true,
                    editable: true,
                    navLinks: true, // can click day/week names to navigate views
                    selectable: true,
                    selectHelper: true,
                    select: function (start, end) {
                        $('#basic').modal('toggle');
                        startTime = start; endtime = end;
                    },
                    eventLimit: true, // allow "more" link when too many events
                    events: chartVal,

                    eventColor: '#378006'
                });
        }

    });
</script>

<div>
    @Html.ActionLink("Back to Appointment section", "Index")
</div>
