@model Shodypati.Models.Medicine

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div class="card-body">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserId)

        <div class="multi-field-wrapper">
            <div class="multi-fields">
                @{
                    if (Model.medicineList.Count > 0)
                    {
                        foreach (var item in Model.medicineList)
                        {

                            string MedicineName = item.MedicineName;
                            string Quantity = item.Quantity;
                            int? Price = item.Price;
                            DateTime? FinishTime = item.FinishTime;


                            <div class="multi-field">
                                <button class="btn btn-info btn-sm float-right remove-field" type="button"> <i class="fa fa-close"> </i></button>

                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-4" id="searchtext">
                                            @Html.LabelFor(model => MedicineName, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.TextBoxFor(m => MedicineName, new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="col-md-2" id="searchtext">
                                            @Html.LabelFor(model => Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.TextBoxFor(m => Quantity, new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="col-md-2" id="searchtext">
                                            @Html.LabelFor(model => Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.TextBoxFor(m => Price, new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="col-md-4" id="searchtext">
                                            @Html.LabelFor(model => FinishTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.TextBoxFor(m => FinishTime, new { @class = "form-control form-control-sm datetime" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="multi-field">
                            <button class="btn btn-info btn-sm float-right remove-field" type="button"> <i class="fa fa-close"> </i></button>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-4" id="searchtext">
                                        @Html.LabelFor(m => m.MedicineName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBoxFor(m => m.MedicineName, new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-md-2" id="searchtext">
                                        @Html.LabelFor(m => m.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-md-2" id="searchtext">
                                        @Html.LabelFor(m => m.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-md-4" id="searchtext">
                                        @Html.LabelFor(m => m.FinishTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBoxFor(m => m.FinishTime, new { @class = "form-control form-control-sm  datetime" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                
        <button class="btn btn-primary" type="submit"> <i class="fa fa-save"> </i> Save and update</button>
      
            </div>
            <div class="col-md-6">
                <div class="card-header">
                    <button class="btn btn-secondary btn-sm pull-right" type="button" onclick="addcondition()"> <i class="fa fa-filter"> </i>Add Medicine</button>
                </div>
            </div>
        </div>  
        
    }
</div>


<script>

    function addcondition() {
        var $wrapper = $('.multi-fields');
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
    }



    $('.multi-field-wrapper').each(function () {
        var $wrapper = $('.multi-fields', this);
        

        $('.multi-field .remove-field', $wrapper).click(function () {
            if ($('.multi-field', $wrapper).length > 1)
                $(this).parent('.multi-field').remove();
        });

    });
</script>
