@model Shodypati.Models.Medicine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>User Details</h2>
<div class="">
    @{ Html.RenderAction("GetUserInfoById", "Account",new { id=Model.UserId}); }
</div>

<h2>Medicien Order Details</h2>

<div class="card-body">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="multi-field-wrapper">
            <div class="multi-fields">
                @{
                    if (Model.medicineList.Count > 0)
                    {
                        foreach (var item in Model.medicineList)
                        {

                            string MedicineName = item.MedicineName;
                            string Quantity = item.Quantity;
                            int? Price = item.Price;
                            DateTime? FinishTime = item.FinishTime;


                            <div class="multi-field">

                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-4" id="searchtext">
                                            @Html.LabelFor(model => MedicineName, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.TextBoxFor(m => MedicineName, new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="col-md-2" id="searchtext">
                                            @Html.LabelFor(model => Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.TextBoxFor(m => Quantity, new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="col-md-2" id="searchtext">
                                            @Html.LabelFor(model => Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.TextBoxFor(m => Price, new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="col-md-4" id="searchtext">
                                            @Html.LabelFor(model => FinishTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.TextBoxFor(m => FinishTime, new { @class = "form-control form-control-sm  datetime" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="multi-field">
                            <button class="btn btn-info btn-sm float-right remove-field" type="button"> <i class="fa fa-close"> </i></button>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-4" id="searchtext">
                                        @Html.LabelFor(m => m.MedicineName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBoxFor(m => m.MedicineName, new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-md-2" id="searchtext">
                                        @Html.LabelFor(m => m.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-md-2" id="searchtext">
                                        @Html.LabelFor(m => m.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-md-4" id="searchtext">
                                        @Html.LabelFor(m => m.FinishTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBoxFor(m => m.FinishTime, new { @class = "form-control form-control-sm datetime" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        </div>

    }
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
