
@model IEnumerable<Shodypati.Models.UserIds>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                </tr>
        }
    </tbody>
</table>
