@model Shodypati.Models.Log

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExceptionMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExceptionMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExceptionStackTrace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExceptionStackTrace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Browser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Browser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
