@model IEnumerable<Shodypati.Models.Product>

@{
    ViewBag.Title = "Product Lists";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="table">
    <thead>
    <tr>
        <th></th>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.ProductName_English) </th>
        <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
        <th>@Html.DisplayNameFor(model => model.OfferPrice)</th>
        <th>@Html.DisplayNameFor(model => model.DisplayOrder)</th>
        <th>@Html.DisplayNameFor(model => model.MainImagePath)</th>
        <th>@Html.DisplayNameFor(model => model.Published)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductName_English)</td>
            <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.OfferPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.DisplayOrder)</td>

            <td>
                @{
                    if (!string.IsNullOrEmpty(item.MainImagePath))
                    {
                        <a href="@item.MainImagePath" data-lightbox="image-1" data-title="@item.ProductName_English">
                            <img src="@item.MainImagePath" class="img-display"/>
                        </a>
                    }
                }

            </td>
            <td> @Html.DisplayFor(modelItem => item.Published)</td>

        </tr>
    }
    </tbody>
</table>