@model Shodypati.Models.Doctor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Doctor</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <ul class="nav nav-tabs">
        <li class="active"><a href="#home">General</a></li>
        <li><a href="#menu1">Details</a></li>
        <li><a href="#menu2">Visit</a></li>
        <li><a href="#menu3">Image</a></li>
        <li><a href="#menu4">Publish</a></li>
    </ul>

    @*<div class="tab-content">
            <div id="home" class="tab-pane fade in active">
            </div>
            <div id="menu1" class="tab-pane fade">
            </div>
            <div id="menu2" class="tab-pane fade">
            </div>
            <div id="menu3" class="tab-pane fade">
            </div>
        </div>*@

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">

            <div class="form-group">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RegistrationNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RegistrationNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RegistrationNo, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.RegistrationType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RegistrationType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RegistrationType, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.ClinicHospitalName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClinicHospitalName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ClinicHospitalName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.YearOfExperience, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YearOfExperience, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.YearOfExperience, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.WorkingArea, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WorkingArea, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WorkingArea, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(m => m.SelectedDoctorWorkingTypeId, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => Model.SelectedDoctorWorkingTypeId, Model.AllWorkingSelectListItems, "---Select Doctor Type---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedDoctorWorkingTypeId, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div id="menu1" class="tab-pane fade">
            <div class="form-group">
                @Html.LabelFor(model => model.Addresss, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Addresss, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Addresss, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control datetime" } })
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">                      

            <div class="form-group">
                @Html.LabelFor(m => m.SelectedVisitDays, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <div class="input-group ">
                        @Html.ListBoxFor(model => model.SelectedVisitDays, Model.CanVisitDays, new { @id = "mySkills" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VisitTimeStart, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VisitTimeStart, new { htmlAttributes = new { @Value = "09:00",id = "timeclock-a", @class = "form-control timeclock" } })
                    <button type="button" id="button-a">Check the  minutes</button>
                    <button type="button" id="button-b">Check the  hours</button>
                    @Html.ValidationMessageFor(model => model.VisitTimeStart, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.VisitTimeEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VisitTimeEnd, new { htmlAttributes = new { @Value = "23:00", id = "timeclock-b", @class = "form-control timeclock" } })
                    <button type="button" id="button-c">Check the  minutes</button>
                    <button type="button" id="button-d">Check the  hours</button>
                    @Html.ValidationMessageFor(model => model.VisitTimeEnd, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SlotDuration, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SlotDuration, new { htmlAttributes = new { @Value = "10",@class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SlotDuration, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VisitFee, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VisitFee, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VisitFee, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.VisitingCard, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Partial("_SingleFiles")
                        @Html.HiddenFor(model => model.VisitingCard)
                        <script>
                            function preupload(event) {
                                event.preventDefault();
                                var files = $("#fileinput")[0].files;

                                var url = '/doctors/Upload';
                                var imagepath = $("#VisitingCard");
                                upload(files, url, imagepath);
                            }
                            function preclearfile(event) {
                                var imagepath = $("#VisitingCard");
                                clearfile(imagepath);
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu4" class="tab-pane fade">
            <div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
